@{
    ViewBag.Title = "Home Page";
}


<center><h1>Volunteer Management System</h1></center>
<p>
    <h2>Introduction</h2>
    The Volunteer Management System (VMS) is a web-based application that allows a nonprofit organization to collect volunteers’ information, track their participation in activities, and produce reports on their contributions made. The purpose of this document is to define the high-level requirements and features of a portion (only administrative features) of the Volunteer Management System (VMS).

    This document describes two use case specifications relevant to administrative features of the VMS. Use case specification provides a detailed description of the high-level requirements of a feature. Requirements are typically described as an interaction between the user and the system as a series of user actions and system events. We will learn more about the use cases in the fall semester.

    Details of Manage Volunteer Profile Information and Manage Opportunities use cases are provided in this document. Read the user interactions and system actions described in the use cases to gain an understanding of the administrative feature needs of the VMS. Work as a team to develop administrative features of the VMS. Use the web development platform (ASP.NET or PHP) selected as a team to develop these features. Make decisions as a team to develop these two features. You are allowed to make necessary assumptions on missing information about the requirements and the VMS.

    <h2>Objectives and Expectations of the Pre-Semester Assignment</h2>
    The objectives of the assignment are two-fold. First, is to provide you a sample set of requirements that is much closer to what you will face in the senior project class for practicing your web development programming skills. In fact, below given two use case specifications were taken from one of the previous senior project student submissions. Second, is to provide you the opportunity to self-assess your individual as well as team capabilities to develop working software. Mentors will use the code base to assess your team capabilities as well.

    As it was mentioned in my earlier communications, in the senior project course, you will learn about the software development lifecycle processes. Web development programming skills are pre-requisite for the course. As the class involves real-world project and with real commitments, pre-requisite skills are going to be important for delivering working and useful product to your client. Therefore, it is very important you practice and improve programming skills in the remaining few weeks before the fall semester starts.

    I don’t expect your solution to be perfect, but demonstrate the team’s capability. Try to put in at minimum 5 to 10 hrs per week as a team to make progress on this assignment. Do your best to communicate, divide up work, and work as a team (as much as possible).

</p>
